<div class="col-xs-4 col-md-3 col-lg-2">
	<div class="pull-right">
		<div class="dropdown">
			<button id="btnUsuario" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="icone-usuario"></span>
				<span class="hidden-xs">Usuário</span>
				<span class="seta hidden-xs"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="btnUsuario">
				<li>
					<a href="#">Perfil</a>
				</li>
				<li>
					<a href="#">Ajuda</a>
				</li>
				<li class="temas">
					<span>Opções de layout</span>
					<span>
						<button type="button" class="tema1">tema 1</button>
						<button type="button" class="tema2">tema 2</button>
						<button type="button" class="tema3">tema 3</button>
						<button type="button" class="tema4">tema 4</button>
						<button type="button" class="tema5">tema 5</button>
						<button type="button" class="tema6">tema 6</button>
						<button type="button" class="tema7">tema 7</button>
						<button type="button" class="tema8">tema 8</button>
					</span>
				</li>
				<li>
					<a href="#">Sair</a>
				</li>
			</ul>
		</div>
	</div>
</div>
