<h2>Home</h2>
<div class="panel panel-default">
	<div class="panel-body">
		<h3>
			Selecione o que deve aparece aqui, na sua página inicial
			<ici-popover conteudo="Lorem ipsum dolor sit amet, consecte adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna">
				<button class="btn btn-default btn-popover" ici-popover>?</button>
			</ici-popover>
		</h3>
		
		<ici-etapa id="teste" progresso="true">
			<ici-etapa-item ativo="true">Escolher menu</ici-etapa-item>
			<ici-etapa-item>Sub-menu</ici-etapa-item>
			<ici-etapa-item>Confirmar</ici-etapa-item>
			<ici-etapa-item>Configuração ok!</ici-etapa-item>
		</ici-etapa>

		<div class="row">
			<div class="panel panel-menu col-md-3 col-sm-6">
				<div class="panel-body">
					<span class="icone-documento"></span>
				</div>
				<div class="panel-footer">Cadastro</div>
			</div>
			<div class="panel panel-menu col-md-3 col-sm-6">
				<div class="panel-body">
					<span class="icone-pasta"></span>
				</div>
				<div class="panel-footer">Formulário</div>
			</div>
			<div class="panel panel-menu col-md-3 col-sm-6">
				<div class="panel-body">
					<span class="icone-engrenagem"></span>
				</div>
				<div class="panel-footer">Configurações</div>
			</div>
			<div class="panel panel-menu col-md-3 col-sm-6">
				<div class="panel-body">
					<span class="icone-clipes"></span>
				</div>
				<div class="panel-footer">Biblioteca</div>
			</div>
			<div class="panel panel-menu col-md-3 col-sm-6">
				<div class="panel-body">
					<span class="icone-usuario"></span>
				</div>
				<div class="panel-footer">Meus dados</div>
			</div>
			<div class="panel panel-menu col-md-3 col-sm-6">
				<div class="panel-body">
					<span class="icone-lupa"></span>
				</div>
				<div class="panel-footer">Pesquisa</div>
			</div>

			<div class="linha-botao linha-botao-paginacao col-xs-12">
				<ul>
					<li class="proximo"><a class="btn btn-default" href="Passo2">Próximo ›</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>