<h2>Home</h2>
<div class="panel panel-default">
	<div class="panel-body">
		<h3>
			Selecione o que deve aparece aqui, na sua página inicial
			<ici-popover conteudo="Lorem ipsum dolor sit amet, consecte adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna">
				<button class="btn btn-default btn-popover" ici-popover>?</button>
			</ici-popover>
		</h3>

		<ici-etapa id="teste" progresso="true">
			<ici-etapa-item ativo="true" link="index">Escolher menu</ici-etapa-item>
			<ici-etapa-item ativo="true">Sub-menu</ici-etapa-item>
			<ici-etapa-item>Confirmar</ici-etapa-item>
			<ici-etapa-item>Configuração ok!</ici-etapa-item>
		</ici-etapa>

		<div class="row">
			<div class="panel panel-menu-item col-md-4 col-sm-4">
				<div class="panel-body">Ipsum <span class="icone icone-sucesso-2"></span></div>
			</div>
			<div class="panel panel-menu-item col-md-4 col-sm-4">
				<div class="panel-body">Lorem<span class="icone icone-sucesso-2"></span></div>
			</div>
			<div class="panel panel-menu-item col-md-4 col-sm-4">
				<div class="panel-body">Elementos<span class="icone icone-sucesso-2"></span></div>
			</div>
			<div class="panel panel-menu-item col-md-4 col-sm-4">
				<div class="panel-body">Layout<span class="icone icone-sucesso-2"></span></div>
			</div>
			<div class="panel panel-menu-item col-md-4 col-sm-4">
				<div class="panel-body">Layout<span class="icone icone-sucesso-2"></span></div>
			</div>
			<div class="panel panel-menu-item col-md-4 col-sm-4">
				<div class="panel-body">Layout<span class="icone icone-sucesso-2"></span></div>
			</div>
			<div class="panel panel-menu-item col-md-4 col-sm-4">
				<div class="panel-body">Validação<span class="icone icone-sucesso-2"></span></div>
			</div>
			<div class="panel panel-menu-item col-md-4 col-sm-4">
				<div class="panel-body">Validação<span class="icone icone-sucesso-2"></span></div>
			</div>
			<div class="panel panel-menu-item col-md-4 col-sm-4">
				<div class="panel-body">Validação<span class="icone icone-sucesso-2"></span></div>
			</div>

			<div class="linha-botao linha-botao-paginacao col-xs-12">
				<ul>
					<li class="anterior"><a class="btn btn-default" href="Index">‹ Anterior</a></li>
					<li class="proximo"><a class="btn btn-default" href="Passo3">Próximo ›</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>