<h2>Home</h2>
<div class="panel panel-default">
	<div class="panel-body">
		<h3>
			Selecione o que deve aparece aqui, na sua página inicial
			<ici-popover conteudo="Lorem ipsum dolor sit amet, consecte adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna">
				<button class="btn btn-default btn-popover" ici-popover>?</button>
			</ici-popover>
		</h3>

		<ici-etapa id="teste" progresso="true">
			<ici-etapa-item ativo="true" link="index">Escolher menu</ici-etapa-item>
			<ici-etapa-item ativo="true" link="passo2">Sub-menu</ici-etapa-item>
			<ici-etapa-item ativo="true" link="passo3">Confirmar</ici-etapa-item>
			<ici-etapa-item ativo="true">Configuração ok!</ici-etapa-item>
		</ici-etapa>

		<div class="row">
			<div class="config-home">
				<h4>Página inicial configurada com sucesso!</h4>
				<p>Para alterar essa configuração acesse <a href="Index">Configurações > Home</a></p>
			</div>

			<div class="linha-botao linha-botao-paginacao col-xs-12">
				<ul>
					<li class="proximo"><a class="btn btn-primary" href="/">Ir para minha home ›</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>